<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Loggi Packages</title>
</head>

<body>

  <!-- navi bar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Lista de Pacotes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destino">Destino</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brinquedos-sul">Briquedos Sul</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/grupo-regiao">Grupo Região</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendas-por-vendedor">Por Vendedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destino-e-tipo">Destino e Tipo</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Tabela de serviços -->
  <div class="container" style="margin-top: 100px;">
    <h2>Lista de pacotes</h2>
    <p>Pacotes Válidos e Inválidos</p>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Cod. Pacote</th>
          <th>Status</th>
          <th>Observação</th>
        </tr>
      </thead>
      <tbody> 
        {% for code, status_observation in codes.items() %}
        <tr>
            <td>{{ code }}</td>
            {% if status_observation['status'] == 'Válido' %}
            <td><span class="badge badge-success">Válido</span></td>
            {% else %}
            <td><span class="badge badge-danger">Inválido</span></td>
            {% endif %}
            {% if status_observation['observation'] == None %}
            <td></td>
            {% else %}
            <td> {{ status_observation['observation'] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </table>
  </div>
</body>
</html>